body, html {
    height: 100%;
    margin: 0;
    font-family: "Inter", sans-serif;
}

/* custom CSS for background image in navbar and button */
.navbar-custom {
    background-image: url(../images/navbarbanner.jpg);
    background-size: cover;
    background-position: center;
    opacity: 90%;
}

:root {
    --bs-primary: white;
    --bs-primary-rgb: 255,255,255;
    --bs-secondary: #F1EBEB;
    --bs-secondary-rgb: 241,235,235;
    --bs-warning:#FAA82C;
    --bs-warning: 250,168,44;
    --bs-dark: rgb(7,7,7);
}

.btn-warning {
    --bs-btn-bg: var(--bs-warning);
    --bs-btn-border-color: var(--bs-warning);
    --bs-btn-hover-bg: var(--bs-warning);
}


.navbar-nav .nav-link{
    color: var(--bs-primary);
}

/* navbar-nav .nav-item .active */
/* navbar-nav .active */
.navbar-nav .nav-link:hover,
.navbar-nav .nav-link:focus,
.navbar-nav .nav-link:active {
    background-color: rgb(252,187,69);;
    color: var(--bs-primary);
    text-decoration: underline;
}

/* change image size for different media */
@media (min-width: 576px)and (max-width: 991px) {
    .custom-img {
      object-fit: cover;
      margin-top: 3rem;
    }
    .navbar-collapse {
        display:none;
    }
  }

  @media (max-width:575.98px) {
    .custom-img {
        display: none;
      }

    .navbar-nav {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
  }

  /* style back to top button */
  .back-to-top {
    position: fixed;
    bottom: 1rem; 
    right: 1rem; 
    padding: 0.5rem; 
    border-radius: 0.25rem;
    font-size: 0.875rem;
    line-height: 1.5; 
    width: 3rem; 
    transition: opacity 0.3s ease;
    z-index: 1050; 
  }